

body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .gap{
    width: 400px;
    height: 150px;
 }


.header{
    width:1320px ;
    height: 600px;
    margin-left: 300px;
    position: relative;
        margin: 0 auto;

  
}
.header-image{
/* margin-left: 50%; */
 

}

.header-desc{
    width: 630px;
    height: 240[x];
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
 position: absolute;
 text-align: center;
 /* margin-top: -450px;
 margin-left: 65%;; */
}
.header-title{
font-size: 32px;
color: #ffff;

}
.header-sub-title{
margin-top: 16px;
font-size:72px ;
color: #ffff;

}

.blank{
    width:1320px ;
    height: 600px;
    background-color: black;
    opacity: 0.5;
   top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -660px;
 position: absolute;
    border-radius: 19px;
       

   
}

.discount-offer{
  
    width: 802px;
    height: 806px;
    margin-left:600PX ;
    text-align: center;
    margin-bottom: 200px;
     
     margin: 0 auto;

 
}
.discount{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-left: -30px;
}

.offer-title{
  font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-top: -25px;
}

.offer-sub-title{
    font-size: 48px;
    font-weight: bold;
    margin-top: -15px;
}
.welcome{
   width:1320px ;
    height: 600px;
    margin-top: 100px;
    margin-left: 300px;
    position: relative; 
    margin-bottom: 200px;
    margin: 0 auto;
   

  
}
.welcome-cont{
    display: flex;
    align-items: center;
    position: absolute;
      top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    gap: 200px;
     
 
}
.welcome-airticle{
    width: 50%;
    margin-left: -200px;
    margin-top: -150px;
}
.welcome-title{
    font-size: 64px;
    font-weight: bold;
    color:white ;

}
.welcome-description{
 font-size:18px ;
    font-weight:200 ;
    color:white ;

}
.btn{
   border: none;
   background-color: rgba(255, 248, 220, 0);
   font-size: 20px;
   font-weight: bold;
   color: #ffff;
}
.welcome-logo{

    margin-top: -80px;
}
.address{
    width:1320px ;
    height: 463px;
    margin-top: 100px;
    margin-left: 300px;
    background-image: linear-gradient(to top, #FFFF,#ff000021);
    margin-bottom: 200px;
    margin: 0 auto;
    border-radius: 15px;

}
.date-and-time{
      padding: 100px 385px 200px 385px;
}
.date{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
   
}
span{
    color: #FF0000;
}
.bbb{
    width: 167px;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #FF0000;
    color: #FFFF;
   
}
.btnn{
    text-align: center;
    margin-top: -150px;
}

.comming-soo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  
  width:1320px ;
  margin: 0 auto;
  margin-bottom: 200px;

}
.comming{
    /* flex: 1; */
    width: 35%;
    height: 255px;
    gap: 40px;

}
.best-offer{
  font-size: 24px;
  font-weight: 300px ;
  color: #FF0000;
}
.comming-soon{
 font-size:30px ;
  font-weight:bold ;
     width:45%;
    
}
.comming-description{
    font-size:20px ;
  color: #0702116e;
}
.comming-image{
     width: 364px;
    height: 364px;
    margin-left: 40px;
    border:15px solid #FF0000;
    border-radius: 100%;
    padding: 15px;
}
.year-2024{
    width: 30%;
    margin-left: 70px;
    
}
.year{
 font-size:48px ;
  font-weight:bold ;
  color: #FF0000;
}
.year-description{
 font-size:20px ;
 color: #0702116b;
}
.new-year{
   width: 140px;
   height: 140px;
}
 


.holiday{
   width:1320px ;
    height: 987px;
    text-align: center;
    margin-top: 200px;
    margin: 0 auto;
    margin-bottom: 200px;
    
    /* background-color: aquamarine; */

}
.holiday-airtacle{
   width: 1068px;
   height: 260px; 
   margin: 0 auto;

}


.holiday-subtitle{
     font-size: 24px;
     font-weight: 300;
     color: #070211e3;
}

.holiday-title{
    font-size: 72px;
    font-weight: bold;
    margin-top: -25px;
}

.holiday-description{
      font-size: 20px;
     font-weight: 400;
     color: #070211c9;
     margin-top: -45px;
}



.logo-2{
    position: absolute;
    
    margin-top:50px;
    margin-left: -450px;
  /* z-index: ; */

}

.holiday-logo{
   position: relative;
}
.logo-1{
position: absolute;
  margin-right:600px;
 margin-top: 40px;
  width: 790px;
  height: 650px;
   z-index:1;
 }



.logo-3{
margin-top: 430px;
  height: 300px;
  width: 1320px;
  z-index: 0;
  background-color: #FF0000;
  border-radius: 15px ;

}


.gift{
    width: 1320px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}
.gift-sub{
  font-size: 24px;
  font-weight: 400;
  color: #FF0000;

}
.gift-title{
  font-size: 48px;
  font-weight: 600;
  color: #070211;
   margin-top: -10px;

}
.gift-descriotion{
   font-size: 20px;
   width: 850px;
   color: #0702119a;
   margin-top: -30px;

}
.gift-image{
  
    display: flex;
}
.product{
   margin:  24px 24px 24px 0;
   width: 380px;
   height: 390px;
}
.subscribe-me{
 width: 1320px;
 height: 620px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color:#ff000010;
    border-radius: 16px;

}
.subscribe{
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
.mail{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.subscribe-title{
  font-size: 48px;
  font-weight: bold;
   margin-top: 3cqi;
}
.subscribe-description{
  font-size: 20px;
  color: #070211b7;
  margin-top: -15px;
  

}
.form{
  margin-left: 335px;
  margin-top: 100px;
   
}
input {
    width: 438px;
    height: 72px;

  border: none;
  border-radius: 50px 0 0 50px;
}
.bt{
  width: 210px;
  height: 72px;
  margin-left: -10px;
  border: none;
  border-radius: 0 50px 50px 0;
 background-color: #FF0000;
 color: #ffff;
 font-size: 18px;
 padding: 0 9px 3px 0;
 text-transform: uppercase;

}
input::placeholder {
  color:#0702118a;
  font-size: 20px;
  text-align: center;
  
}


.footer{
    width: 1320px;
    height: 630px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    border-radius: 16px;
}

.footer-article{
    display: flex;
    justify-content: space-around;
}
.f-address{
    width: 375px;
    height: 80px;
    font-size: 24px;
    margin-top: 80px;
          color: #fff;

    
}


 .f-contact{
     width: 375px;
    height: 80px;
    font-size: 24px;
     margin-top: 80px;
     margin-left: 50px;
           color: #fff;

}
.f-website{
     width: 375px;
    height: 80px;
    font-size: 24px;
     margin-top: -70px;
      margin-left: 50px;
      color: #fff;
} 
hr{
    border: 3px solid rgba(185, 185, 185, 0.603);
    border-bottom: none;
}
.social{
    padding: 50px;
     display: flex;
   justify-content: center;
 
}
.site{
    margin:0 20px ;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.f-reserve{

    font-size: 24px;
     margin-top: 80px;
     margin-left: 140px;
     font-weight:500 ;
     color: #fff;
}
.f-un{
     font-size: 24px;
    margin-right:350px ;
     margin-top: 80px;
     font-weight:500 ;
     color: #fff;
     
     
}

